@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --header-font: "Black Ops One", system-ui;
    --body-font: "Raleway", sans-serif;

    --body-font-color: #FFFFFF;
    --background-color: #403939;
    --darker-background-color: #1A1616;
    --primary-color: #D91A3A;
    --accent-color: #801426;
    --secondary-color: #FCDF4C;
}

html, body {
    font-family: var(--body-font);
    color: var(--body-font-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}
body {
    h1 {
        font-family: var(--header-font);
        color: var(--primary-color);
    }
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            color: var(--body-font-color);
            text-decoration: none;
            font-weight: bold;
        }
        a:hover {
            color: var(--secondary-color);
        }
    }
}