<%- include('partials/header') %>
<main>
    <img src="/images/home-hero-img" alt="pic of a car in the middle of the road">
    <h1><%= title %></h1>
    <p>Welcome To Test Driven!</p>
    <a href="/cars/list">Browse Our Cars</a>
</main>
<%- include('partials/footer') %>